services:
  pocketbase:
    build: https://github.com/v31-dev/dokploy-templates.git#:pocketbase
    environment:
      - APP_NAME=Geomap
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    volumes:
      - ./pb_data:/pb_data

  python:
    build: python
    develop:
      watch:
        - action: sync+restart
          path: ./python
          target: /app
          ignore:
            - __pycache__
            - '*.pyc'
            - '*.pyo'
            - 'cache.db*'
            - '*.tif'
            - '*.zarr'
            - pb_data
    restart: unless-stopped
    environment:
      - S3_URL=${S3_URL}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - PUBLIC_S3_URL=${PUBLIC_S3_URL}
      - POCKETBASE_URL=${POCKETBASE_URL}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - AUTH_URL=${AUTH_URL}
      - AUTH_CLIENT_ID=${AUTH_CLIENT_ID}
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:4000/ || exit 1" ]
      start_period: 30s
      retries: 20
      timeout: 240s

  frontend:
    build: frontend
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules/
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:3000/ || exit 1" ]
      start_period: 5s

  nginx:
    image: nginx:alpine
    volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    ports:
      - 80:80
    